body, html{
	color: #666;
	font-weight: 300;
	width: 100% !important;
    height: 100% !important;
   
    font-family: 'Roboto', sans-serif !important;
	
}

.lo{
    margin-left:45px !important;
    font-size:20px !important;
    text-transform: uppercase;
    font-weight: 500;
    color:#444 !important;
    padding:0px !important;
}

strong{
    font-weight: 400 !important;
}

#about{
    padding-top:100px;
    padding-bottom: 100px;
}
#about h3{
    font-size:22px;
    font-weight:300;
}

#about p{
    line-height:24px;
    margin:30px 0;
}
.hov:hover{
    background:black;
    color:white !important;
}

.justify{
    text-align: justify !important;
}
h4{
    font-size:22px !important;
    color:#444 !important;
    font-weight:300 !important;
}
#services p{
    font-size:18px;
    text-align: center;
}
#myNavbar
{
    padding:20px;
    text-transform: uppercase;
}
.icon{
    color:#0BABDB;
}
.intro{
    background:url(../img/intro-bg.jpg);
    background-color: #E5E5E5;
    width:100%;
    height:100vh;
    /* display:table; */
    background-size: cover;
}
.overlay{
    background: rgba(255,255,255,0.2);
}
.bg{
    background-color:transparent !important;  
}

.smessage{
    border-radius:0px !important;
}
.smessage:hover{
    background:black !important;
    border:none;
}
#mainmenu.background{
  background:transparent;
  border:transparent;
}

.intro h1 {
	color: #0ba2db;
	font-size: 74px;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 10px;
}
.intro p {
	color: #444;
	font-size: 28px;
	margin-top: 10px;
	margin-bottom: 40px;
}
header .intro {
	padding-top: 300px;
	padding-bottom: 200px;
	text-align: center;
}

.style {
    color: #fff;
    background-color: #0ba2db;
    border: 0;
    padding: 14px 20px;
    margin: 0;
    font-size: 16px;
    border-radius: px;
    margin-top: 20px;
}

#about .img{
    border-radius:20px;
    padding:20px;
    border-color:#0BA2DB;
}

#services{
    background: #f6f6f6;
    padding-top:100px;
    padding-bottom:100px;
}

#contact{
    padding-top:100px;
    padding-bottom:100px;
}
#price{
    padding-top:100px;
    padding-bottom:100px;
}

#price p{
    font-size:18px !important;
padding-bottom:30px;
}

#price .ptable{
    border:1px solid #E4E4E4;
    text-align:center;
    background-color: #FFF;
    border-radius: 20px;
    margin-bottom:15px;
}

#services hr{
    border-top: 1px solid #0ba2db !important;
}

#about hr{
    border-top: 1px solid #0ba2db !important;
}

#contact hr{
    border-top: 1px solid #0ba2db !important;
}

.cwhite{
    color:white;
}

.dest{
    border:1px solid #fff !important;
}

#price h3{
    font-size:32px;
    font-weight:300;
}
.ptable>.plan-name{
    box-shadow: 0 0 20px rgba(0,0,0,0.05) inset;
    padding:15px;
}

.plan-price>.price-value{
    padding:25px 0;
    font-size:30px;
}

.ptable>.plan-list li{
    border-bottom:1px solid #eee;
    padding:8px;
    font-size:16px;
}

#about li{
    margin-bottom:10px;
    font-size:16px;
    margin-left:10px;
}
ul{
    list-style: none;
    padding:0;
}

.ptable>.plan-list li:first-child{
    border-top: 1px solid #EEE;
}

.plan-signup{
    padding:20px;
}

p{
    font-size:16px !important;
}

.bck
{
    background-color: #0ba2db;
    padding:30px 0;
}
.high{
    margin:-1px 0px;
}

.ptable:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.cbck{
    background:#F6F6F6
}

.fa{
    color:#0BA2DB;
    margin:20px 0;
    /* font-size:26px !important; */
}
#contact .social ul li{
    display:inline-block;
    padding:90px 26px 0 29px;
}

#footer{
    background:#e6e6e6;
    color:#888;
    padding:20px 20px 20px 20px;
    border:1px solid #fff

}

#about li::before{
    content:'\2713 ';
    color:#0ba2db;
    padding-right:10px;
}

#services .fa{

    font-size:48px;
    margin:20px 0;
}

hr {
    height: 2px;
    width: 70px;
    text-align: center;
    /* position: relative; */
    background:#0ba2db !important;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 0;
}

.size{
    font-size: 15px;
    font-weight:400 !important;
    color:#444;
    letter-spacing:1px;
}

.divstyle{
    padding-top: 40px;
}

h2{
    font-size: 42px !important;
    color:#444 !important;
    font-weight:300 !important;
    margin:0 0 20px 0;
}

.price-value{
    font-size: 38px !important;
    line-height: 52px !important;
    color:#444;
}

#price .btn:hover{

    background:#000;

}

#price .btn{
    padding: 13px 25px !important;
}

#price .btn-info{
    background-color: #0ba2db;
}